html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  top: 46%;
  left: 135px;
}

.hand {
  width: 14px;
  position: absolute;
  transform-origin: bottom;
}

.hand-hour {
  position: absolute;
  top: 29%;
  left: 143px;
  animation: rotate 6s infinite linear;
}

.hand-minute {
  position: absolute;
  top: 20%;
  left: 143px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
